@font-face {
    font-family: 'brasika_displayregular';
    src: url('brasika-display-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #f2f1ec;
  }

.title {
    font-family: 'brasika_displayregular', serif;
    font-size: 500%;
    padding-top: 300px;
}

h2 {
    font-family: 'brasika_displayregular', serif;
    padding-top: 70px;
    font-size: 30px;
}

h3 {
    font-family: 'latoregular', sans-serif;
}

p {
    font-family: 'latoregular', sans-serif;
    text-align: justify;
}

.about {
    max-width: 500px;
}

.boxbutton {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.middle {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    align-items: center;
    gap: 80px;
}

.nextcall {
    font-family: 'brasika_displayregular', serif;
    font-size: 80px;
}

.team {
    display: flex;
    align-items: center;
    max-width: 1000px;
    gap: 80px;
}

 /* unvisited link */
 a.class1:link {
    color: #2a52be;
    font-family: 'latoregular', sans-serif;
  }
a.class1:visited {
    color: #8b4b88;
    font-family: 'latoregular', sans-serif;
  }
a.class1:hover {
    color: #8b4b88;
    font-family: 'latoregular', sans-serif;
  }
a.class1:active {
    color: #2a52be;
    font-family: 'latoregular', sans-serif;
  } 

.button1{
    background-color: #2a52be;
    border: none;
    font-family: 'latoregular', sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2{
    background-color: #8b4b88;
    border: none;
    font-family: 'latoregular', sans-serif;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}